<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Deliveryschedule.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><userSettings>
        <Deliveryschedule.My.MySettings>
            <setting name="_IDU_DLS_BALANCEDQTY" serializeAs="String">
                <value>_IDU_DLS_BALANCEDQTY.sql</value>
            </setting>
            <setting name="_IDU_DLS_GET_PI" serializeAs="String">
                <value>_IDU_DLS_GET_PI.sql</value>
            </setting>
            <setting name="_IDU_DLS_GET_STOCKWHS" serializeAs="String">
                <value>_IDU_DLS_GET_STOCKWHS.sql</value>
            </setting>
            <setting name="_IDU_DLS_GETDLSBYID" serializeAs="String">
                <value>_IDU_DLS_GETDLSBYID.sql</value>
            </setting>
            <setting name="_IDU_DLS_LAYOUTDS" serializeAs="String">
                <value>_IDU_DLS_LAYOUTDS.sql</value>
            </setting>
            <setting name="_IDU_DLS_LISTAPPROVAL" serializeAs="String">
                <value>_IDU_DLS_LISTAPPROVAL.sql</value>
            </setting>
        </Deliveryschedule.My.MySettings>
    </userSettings>
</configuration>
